<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h1>Digital Banking</h1>
            <p>La banque numérique fait partie du contexte plus large du passage à la banque en ligne, où les services bancaires sont fournis sur Internet.</p> 
            <p>Le passage de la banque traditionnelle à la banque numérique a été progressif et se poursuit, et est constitué de différents degrés de numérisation des services bancaires.</p>
            <p>Cette Application est une simple digital banking solution avec des simple fonctions</p>
            <ul>
                <li>List des Client (List of Customers)</li>
                <li>Ajouter Client (Add Customer)</li>
                <li>Les Comptes Bancaires (Accounts)</li>
                <li>Debit</li>
                <li>Credit</li>
                <li>Transfer</li>
            </ul>
        </div>

        <div class="col-md-6">
            <img src="https://avatars.githubusercontent.com/u/79743851?v=4" alt="">
            <h3>Aymen Chikeb</h3>
            <p>Github: <a href="#">https://github.com/ach-code</a></p>
        </div>

    </div>
</div>